h1 {
  color: white;
  font-weight: 700;
  font-family: "Arial";
  text-align: center;
  text-transform: uppercase;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  text-align: center;
  font-size: 18px;
}

img {
  display: block;
  margin: 0 auto;
  width: 250px;
}
footer {
  font-weight: bold;
  text-align: center;
}
