.container {
  text-align: center;
  font-size: large;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  color: black;
}
.form {
  width: 400px;
}
.box {
  color: aqua;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.field {
  margin-bottom: 25px;
  text-align: center;
}
#firstname,
#lastname,
#password,
#email {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 100%;
  text-align: center;
}
.button {
  width: 430px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: mediumspringgreen;
  border: none;
  border-radius: 10px;
}

.token {
  color: blue;
}
